{% extends 'index.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <p class="card-text">Linkə keçid edin.</p>
        <a href="{% url 'all_categories'  %}" class="btn btn-primary">Keçid et</a>
        <a href="{% url 'create_category'  %}" class="btn btn-success">Yeni Kateqoriya əlavə et</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Products</h5>
        <p class="card-text">Linkə keçid edin..</p>
        <a href="{% url 'all_products' %}" class="btn btn-primary">Keçid et</a>
        <a href="{% url 'create_product'  %}" class="btn btn-success">Yeni Məhsul əlavə et</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}